<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vote App</title>
    </head>
    <body>
        Vote: 
        <br><br>
        <button onclick="upFunction()" id="up">UP</button>
        <br>
        <button onclick="downFunction()" id="down">DOWN</button>
        <br><br>
        <div id="plot-content">
            {{div_bok|safe}}
            {{scr_bok|safe}}
        </div>
        <script>
        function upFunction(){
            $.ajax({
                url:"/up",
                type: "post",
                success: function(data){
                    $('#plot-content').html(data)   
                }
            });
        }
        </script>
        <script>
        function downFunction(){
            $.ajax({
                url:"/down",
                type: "post",
                success: function(data){
                    $('#plot-content').html(data)   
                }
            });
        }
        </script>
    </body>
    
    </html>
